<form method="post" class="ui form" data-xhr="true">
    <label>First Name</label>
    {{{first_name}}}
    
    <br />

    <label>Email</label>
    {{{email}}}
    
    <br />
    <label>last Name</label>
    {{{last_name}}}
    
    <br />
    <label>Phone</label>
    {{{phone}}}
    
    <br />
    <label>Message</label>
    {{{message}}}
    
    <br />
    <input type="submit" value="Submit" />

    {{{id}}}
 </form>